<%- include("partials/header"); -%>
<div class="container">
  <form action="/compose" method="post">
    <a class="review-link" href="https://cloud.mongodb.com/v2/62dd9977392a7e3b8ca96d11#metrics/replicaSet/631e341a87ac570922bcbe6b/explorer/reviewsDB/reviews/find"><h2>Mongo Atlas</h2></a>
    <a class="review-link" href="https://dashboard.heroku.com/apps/miles-music-website/deploy/github"><h2>Heroku</h2></a>
    <div class="row mt-5 mx-5">
      <h2 class="same align-left">Track#:
      <input class="same track-title-input" type="text" name="track-title" value=""></input>
      <input class="same track-number-input" type="text" name="track-number" value=""></input>
      <span class="submit-btn w-10 track-wrapper-generation-button px-2" name="button">Generate</span>
      </h2>
    </div>
    <div class="row mx-5 mb-5">
      <input class="same track-output" type="text" name="track-output" value=""></input>
    </div>
    <div class="row mx-5 mb-5">
      <a class="review-link" href="https://developer.spotify.com/console/get-album/?market=ES"><h2>Spotify API to get Tracklist</h2></a>
      <textarea class="tracklist-text" name="tracklist_text" rows="4" cols="80"></textarea>
      <span class="submit-btn w-10 fix-tracklist-button px-2" name="button">Make Tracklist-able</span>
    </div>
    <div class="row m-5">
      <div id="editor"></div>
      <textarea class="review-text" name="review_text" rows="8" cols="80"></textarea>
      <span class="submit-btn w-10 fix-review-button px-2" name="button">Make Review-able</span>
    </div>
    <div class="row m-5">
      <textarea class="preview-text" name="preview_text" rows="5" cols="80"></textarea>
      <span class="submit-btn w-10 make-preview-button px-2" name="button">Make Preview-able</span>
    </div>
    <div class="row m-5">
      <input class="same my-2" type="text" name="album_title" placeholder="Album Title"></input>
      <input class="same my-2" type="text" name="artist" placeholder="Artist"></input>
      <input class="same my-2" type="text" name="image_url" placeholder="Image URL"></input>
      <input class="same my-2" type="text" name="score" placeholder="Score"></input>
      <input class="same my-2" type="text" name="fav_tracks" placeholder="Favorite Tracks"></input>
      <input class="same my-2" type="text" name="least_fav_tracks" placeholder="Least favorite Tracks"></input>
      <input class="same my-2" type="text" name="linked_tracks" placeholder="Linked Tracks"></input>
      <input class="same my-2" type="text" name="review_date" placeholder="Review date"></input>
      <input class="same my-2" type="text" name="release_year" placeholder="Release year"></input>
      <input class="same my-2" type="text" name="playlist_id" placeholder="Playlist ID"></input>
      <input type="submit" class="submit-btn mt-2" name="button"></input>
    </div>
  </form>
</div>
<%- include("partials/footer"); -%>
