<%- include("partials/header"); -%>
<div class="container">
  <div class="password-div">
    <form action="/compose" method="post">
      <input class="same password" type="password" name="password" placeholder="Password"></input>
      <button type="submit" class="submit-btn w-10" name="button">Submit</button>
    </form>
  </div>
</div>
<%- include("partials/footer"); -%>
