body {
  background-color: rgb(255, 243, 228);
}

h1, label {
  color: rgb(238, 214, 196);
}

h2 {
  text-align: center;
  color: rgb(107, 79, 79);
  font-size: 25px;
  position: relative;
  top: 5px;
}

td, .td {
  color: rgb(107, 79, 79);
}

iframe {
  z-index: -100;
}

.track-div {
  border-radius: 10px;
}

label {
  font-size: 20px;
  font-weight: 500;
}

p {
  color: rgb(255, 243, 228);
}

hr {
  border: 5px solid rgb(72, 52, 52);
  opacity: 1;
}

footer {
  background-color: rgb(72, 52, 52);
  z-index: 100;
}

a, button, h1, h2, h3, h4, h5, h6, p, td, .td, .track-number {
  font-family: 'Cabin', sans-serif;
}

a {
  font-family: 'Cabin', sans-serif;
  font-size: 25px;
  transition-duration: 0.2s;
}

svg, .badge {
  transition-duration: 0.2s;
}

a, a:link, a:visited {
  color: rgb(238, 214, 196);
  text-decoration: none;
}

a:hover {
  color: rgb(72, 52, 52);
}

svg:hover {
  fill: rgb(72, 52, 52);
}

html {
  scroll-padding-top: 100px;
}

.footer-svg:hover {
  fill: rgb(107, 79, 79);
}

.footer-social:hover, .footer-brand:hover, .review {
  color: rgb(107, 79, 79);
}

.active a {
  color: rgb(72, 52, 52);
  background-color: rgb(238, 214, 196);
  border-radius: 15px;
}

.timestamp>span>svg {
  position: relative;
  bottom: 2px;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

.nav {
  --bs-nav-link-hover-color: rgb(107, 79, 79);
}

.navbar {
  --bs-navbar-brand-hover-color: rgb(107, 79, 79);
  background-color: rgb(72, 52, 52);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.contact-form, .checkboxes {
  border-radius: 10px;
  border-style: solid;
  border-width: 15px;
  border-color: rgb(72, 52, 52);
  background-color: rgb(107, 79, 79);
}

.rym {
  position: relative;
  top: 2px;
}

.submit-btn, .pause-button {
  border-radius: 6px;
  transition-duration: 0.2s;
  border: 5px;
  border-style: solid;
  border-color: rgb(72, 52, 52);
  background-color: rgb(238, 214, 196);
  color: rgb(107, 79, 79);
  font-size: 20px;
  font-weight: 500;
}

.pause-button {
  display: none;
  position: fixed;
  bottom: 50px;
  width: 300px;
  height: 50px;
  right: calc(50% - 150px);
  z-index: 100;
  border-radius: 50px;
}

.z-high {
  z-index: 100;
}

.checkboxes {
  position: fixed;
  bottom: 30px;
  left: 30px;
  border-width: 5px;
}

.num-checkbox, .timestamp-checkbox, .timestamp-length-checkbox {
  position: relative;
  top: 6px;
  height: 25px;
  width: 25px;
}

.submit-btn:hover {
  background-color: rgb(107, 79, 79);
  color: rgb(238, 214, 196);
}

.footer-brand {
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

.card {
  transition-duration: 0.2s;
  border-radius: 6px;
  border: 5px;
  border-style: solid;
  border-color: rgb(72, 52, 52);
  min-height: 900px;
}

.card:hover {
  box-shadow: 0 0 25px rgb(72, 52, 52);
}

.badge:hover{
  box-shadow: 0 0 10px rgb(72, 52, 52);
}

.card-body {
  background-color: rgb(107, 79, 79);
}

.card-title, .card-subtitle {
  color: rgb(238, 214, 196);
}

.card-title {
  font-size: 25px;
}

.card-subtitle {
  font-size: 20px;
}

.same {
  display: inline-block;
}

.light-hr {
  border: 3px solid rgb(107, 79, 79);
}

.card-hr {
  border: 3px solid rgb(72, 52, 52);
}

.card-link {
  color: rgb(238, 214, 196);
  font-size: 15px;
}

.card-img-top {
  border-radius: 0;
}

.read-more, .read-more:link, .read-more:visited, .review-link, .review-link:link, .review-link:visited {
  text-decoration: underline;
}

.review-link, .review-link:link, .review-link:visited {
  color: rgb(107, 79, 79);
  font-size: 20px;
}

.track:link, .track:visited, .track {
  color: rgb(107, 79, 79);
  text-decoration: underline;
  inline-size: 75%;
  overflow-wrap: break-word;
}

.album-cover {
  height: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.review-hr {
  width: 640px;
  margin: auto;
}

.album-title, .album-artist, .album-score {
  text-align: center;
  color: rgb(72, 52, 52);
}

.album-title {
  font-size: 60px;
}

.album-artist {
  font-size: 40px;
}

.album-score {
  font-size: 90px;
}

.push {
  margin: 0 auto -110px;
}

.container {
  min-height: calc(100vh - 150px);
  padding-bottom: 110px;
  margin-top: 150px;
  /* max-width: 100%; */
}

.score-container {
  border: 16px double rgb(72, 52, 52);
  width: 228px;
  height: 228px;
  text-align: center;
  margin: auto;
  border-radius: 45px;
  padding: 38px;
}

.review {
  font-size: 20px;
  white-space: pre-wrap;
}

.track-number {
  float: left;
  margin-right: 16px;
  text-align: center;
  font-size: 20px;
  border: none;
  width: 50px;
  color: rgb(107, 79, 79);
}

.no-bottom-border {
  border-bottom: none;
}

.no-top-border {
  border-top: none;
}

.no-underline {
  text-decoration: none;
}

.red-background, .green-background {
  border-radius: 10px;
}

.green-background {
  background-color: rgb(119, 221, 119);
}

.badge {
  margin-left: 8px;
}

.timestamp {
  position: relative;
  top: 1px;
  padding-left: 8px;
  padding-top: 7px;
  margin-left: 8px;
}

.align-left {
  text-align: left;
}

.red-background {
  background-color: rgb(250, 160, 160);
}

.badge {
  border: 3px solid rgb(107, 79, 79);
  background-color: rgb(238, 214, 196);
  color:  rgb(107, 79, 79);
}

.track-hr {
  border: 2px solid rgb(107, 79, 79);
  margin-top: 4px;
  margin-bottom: 4px;
}

.search {
  width: 75%;
}

.search-button, .track-wrapper-generation-button {
  position: relative;
  bottom: 2px;
}

.date {
  font-size: 16px;
}

.review-date {
  font-size: 32px;
}

.track-number-input {
  width: 5%;
}

.percent-adjustable-h2 {
  width: 20%;
}

.percent-adjustable-hr {
  width: 40%;
}

.full {
  width: 100%;
}

.contact-spacer {
  height: 186px;
}

#editor, .ql-toolbar {
  background-color: white;
}

.ql-editor>p {
  color: black;
}

.ql-editor {
  padding-left: 0;
}

#editor {
  height: 100px;
}

.password-div {
  margin-right: 35%;
  margin-left: 35%;
}

.password-div>button {
  top: 1px;
}

span.submit-btn {
  text-align: center;
}

@media (max-width: 992px) {
  .contact-button, label, .card-title {
    font-size: 55px;
  }

  .nav-link, .contact-text, .card-subtitle, .review, .track, .track-number, .review-link, .review-link:link, .review-link:visited, input, textarea {
    font-size: 42px!important;
  }

  .date, .card-link {
    font-size: 32px!important;
  }

  .review {
    padding: 0px!important;
  }

  .percent-adjustable-h2 {
    width: 30%;
  }

  .light-hr {
    position: relative;
    top: 45px;
  }

  h2 {
    font-size: 52px;
  }

  .submit-btn {
    font-size: 45px;
    /* max-width: 75%; */
  }

  .search {
    width: 55%;
  }

  .percent-adjustable-hr {
    width: 30%;
  }

  .percent-adjustable-h2-font {
    font-size: 50px;
    left: -7px;
  }

  .card {
    min-height: 0px;
  }

  .mobile-review, .tracklist-div, .cards-div {
    margin-left: -75px!important;
    margin-right: -75px!important;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  .footer-svg {
    width: 64px;
    height: 64px;
  }

  .nav-link {
    font-size: 45px;
  }

  .rym {
    top: 8px;
    font-size: 40px;
  }

  .pause-button {
    right: 30px;
    bottom: 30px;
    width: 45%;
    height: 244px;
    font-size: 40px;
  }

  .checkboxes {
    max-width: 45%;
  }

  .checkboxes>label {
    font-size: 35px!important;
  }

  .num-checkbox, .timestamp-checkbox, .timestamp-length-checkbox {
    height: 50px;
    width: 50px;
  }

  .timestamp {
    top: -3px;
    padding-top: 13px;
  }

  .timestamp>span>svg {
    bottom: 3px;
  }

  .badge {
    margin-left: 16px!important;
  }

  .card-body {
    padding: 32px;
  }
}
